* {
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background: #262a2f;
  /* color: #fff; */
  font-weight: 400;
  overflow-x: hidden;
  overflow-y: hidden;
}

header {
  text-align: center;
  margin: 30px auto;
}

h1 {
  font-size: 50px;
  color: #f6f6f6;
}

.search-box {
  background-color: #fff;
  margin: 43px auto 0;
  max-width: 40%;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.row {
  display: flex;
  align-items: center;
  padding: 8px 15px 10px 8px;
}

input {
  flex: 1;
  height: 50px;
  background: transparent;
  border: 0;
  outline: 0;
  font-size: 19px;
  padding: 0 10px;
}

button {
  border: 0;
  background: transparent;
  cursor: pointer;
}

.fa-magnifying-glass {
  font-size: 30px;
}

.result-box ul {
  border-top: 2px solid #d5d5d5;
  padding: 15px 10px;
}

.result-box ul li {
  padding: 12px 10px;
  list-style: none;
  border-radius: 8px;
  cursor: pointer;
}

.result-box ul li:hover {
  background: #e9f3ff;
}

.weather-componentRow {
  height: 100%;
  max-height: 50%;
  display: flex;
  background-color: lightblue;
  align-items: center;
  max-width: 40%;
  border-radius: 15px;
  margin: 30px auto;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

@media (max-width: 768px) {
  h1 {
    font-size: 40px;
  }

  .search-box {
    max-width: 80%;
  }

  .weather-componentRow {
    max-width: 80%;
  }
}

@media (max-width: 480px) {
  header {
    margin-top: 52px;
  }

  h1 {
    font-size: 30px;
  }

  .search-box {
    margin-top: 43px;
    max-width: 85%;
  }

  .weather-componentRow {
    margin-top: 91px;
    max-height: 50%;
    max-width: 85%;
  }

  @media (max-width: 375px) {
    h1 {
      font-size: 30px;
    }

    .search-box {
      margin-top: 30px;
      max-width: 85%;
    }

    .weather-componentRow {
      max-height: 50%;
      margin-top: 50px;
      max-width: 85%;
    }
  }
}
